<!DOCTYPE html>
<html>
  <head>
    <title>WordWall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ranchers" rel="stylesheet">

  </head>

  <body>
    <div id="banner">
      Word WALL
    </div>
    <%= yield %>
  </body>
</html>
